/*
█▀▀ ▄▀█ █▀ █░█ █ █▀▀ █▀█   █▀█ ▄▀█ █▄█   █▀█ ▄▀█ █▀▀ █▀▀
█▄▄ █▀█ ▄█ █▀█ █ ██▄ █▀▄   █▀▀ █▀█ ░█░   █▀▀ █▀█ █▄█ ██▄
*/
body {
  /* margin-top: 10px; */
  /* background: #f8f8f8; */
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.cent {
  text-align: center;
}

.detailInput:disabled {
  background-color: white;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-radius: 0;
}
.inputD:disabled {
  background-color: rgb(233, 233, 233);
}

.disable {
  background-color: red;
}

.inputField {
  height: 45px;
}

.btn-grad-confirm {
  background-image: linear-gradient(
    to right,
    #1d976c 0%,
    #93f9b9 51%,
    #1d976c 100%
  );
}

.btn-grad-create {
  background-image: linear-gradient(
    to right,
    #18ac11 0%,
    #1ace38 51%,
    #22a514 100%
  );
}

.btn-grad {
  padding: 10px 10px;
  max-height: 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#form-buscar > .form-group > .input-group > .form-control {
  height: 40px;
}
#form-buscar > .form-group > .input-group > .input-group-btn > .btn {
  height: 40px;
  font-size: 16px;
  font-weight: 300;
}
#form-buscar > .form-group > .input-group > .input-group-btn > .btn .glyphicon {
  margin-right: 12px;
}

#form-buscar > .form-group > .input-group > .form-control {
  font-size: 16px;
  font-weight: 300;
}

#form-buscar > .form-group > .input-group > .form-control:focus {
  border-color: #33a444;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 1px rgba(0, 109, 0, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px rgba(0, 109, 0, 0.8);
}

/*--------------Remove Button--------*/

.btn-grad-delete {
  background-image: linear-gradient(
    to right,
    #e52d27 0%,
    #b31217 51%,
    #e52d27 100%
  );
}

/*****************Profile page***************************/
.shadowBox {
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
}
