
/* --------------nav bar------------------------ */

.navbar-brand img {
    max-height: 75px;
}
.collapse {
    text-align: center;
}

/* sign out button */
#signout {
    max-width: 50%;
    border-radius: 50px !important;
}
   
#active{font-size:17px;
  color:rgb(13, 126, 41);
  font-weight: bold;
}

#deactive{font-size:17px;
    color:rgb(137, 137, 137);
    
  }
/* ----------------bg---------------------- */
/* bg images */
.responsive {
    width: 100%;
    height: auto;
}
.responsive_second{
    width: 50%;
    height: auto;
}
  /* bg align */
  .Center {
        
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(68, 55, 55);
    text-align: center;
}

/* Solid border */
hr.solid {
    border-top: 3px solid #bbb;
}

  .copy{
    font-size:10px;
}



/* --------------footer------------------------ */

.centerEmail{
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(68, 55, 55);
  text-align: center;
  border-style: solid;
  border-radius: 20px;
}


.footer {
        
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(233, 253, 224);
        color: rgb(68, 55, 55);
        text-align: center;
        
}
#contactus{
        font-size:15px;
}
    
 /* social icons */
 ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}  

.social-network a.icoFacebook:hover , .social-network a.icoTwitter:hover ,.social-network a.icoGoogle:hover  {
	background-color: rgb(6, 155, 41);
}

 .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,.social-network a.icoGoogle:hover i {
    color:#fff;
    
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 25px;
	height: 25px;
	font-size:10px;
	background-color: #D3D3D3;
}
.social-circle li i {
	margin:0;
	line-height:25px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

/* ---------logo animation---------- */


  .responsive_auto{
    width: 75%;
    height: auto;
    animation: ani 4s linear; 

  }

  @keyframes ani {
    0% {
        transform: scale(1.2);
      }
      10% {
        transform: scale(1);
      }
      50% {
        transform: scale(1);
      }
	  100% {
        transform: scale(1);
      }
	  50% {
        transform: scale(1);
      }
	  10% {
        transform: scale(1.2);
      }
      0% {
        transform: scale(1);
      }
  }
 
  