<!DOCTYPE html>
<html lang="en">
   
<head>
    <%- include('../partials/heads/head'); %>          
</head>

<body>
    
    <header>
        <%- include('../partials/navs/nav'); %>
    </header>


    <div class="Center">

        <div class="container">
            <div class="row ">
                <br>
                
                <div class="col-sm-4 ">
                        <br>
                        <br>
                        <div class="slider">

                                <div id="img">
                                    <img src="/images/logo.png" class="responsive_auto">
                                </div>
        
                            </div>
        
                            
                    <br>
                    <h1>WELCOME </h1>
                    <p>SL Emission Testing is the pioneer in air quality management and eco solutions in Sri Lanka and is a
                        part of the diversified conglomerate, LAUGFS Holdings.</p>
                    <br>
                    <button type="button" class="btn btn-outline-success btn-large" id='getTicket' onclick="getTicket()">Get a ticket</button>
                </div>
                <div class="col-sm-8 ">
                    <img src="/images/welcome.png" class="responsive">

                </div>
            </div>


        </div>

    </div>
   
    <footer>
        <%- include('../partials/footers/custmoer_footer'); %>
    </footer>

    

</body>
</html>