<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/heads/head', {title:"Cashier"}); %>  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body class="d-flex flex-column min-vh-100">

  
  <header>
    <%- include('../partials/navs/nav',); %>
  </header>
   
<div class="container">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter the NIC here" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-success" type="button" id="button-addon2">Search</button>
        </div>
      </div>
</div>

<footer class="mt-auto">
  <%- include('../partials/footers/staff_footer'); %>
</footer>
</body>
</html>


