<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heads/head.ejs'); %>    
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" media="screen" title = "no title" charset = "utf-8">
    <link rel="stylesheet" href="../../../public/css/custom.css" media="screen" title = "no title" charset = "utf-8">
    
   
</head>
<body>
    <header>
        <%- include('../partials/navs/nav'); %>
    </header>

    <div class="container">
    <div class="row flex-lg-nowrap">
    <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
    </div>

    <div class="col">
        <div class="row">
        <div class="col mb-3">
            <div class="card shadowBox">
            <div class="card-body">
                <div class="e-profile">
                <div class="tab-content pt-3 ">
                    <div class="tab-pane active">
                    <form class="form" novalidate="">
                        <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                    <label>First Name</label>
                                    <input class="form-control" type="text" name="name" placeholder="John Smith" value="John">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                    <label>Last Name</label>
                                    <input class="form-control" type="text" name="username" placeholder="johnny.s" value="Smith">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control inputD" type="text" placeholder="user@example.com" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                    <label>NIC</label>
                                    <input class="form-control inputD" type="text" name="name" placeholder="NIC" value="10997214538" disabled>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                    <label>Contact Number</label>
                                    <input class="form-control" type="text" name="username" placeholder="Contact Number" value="0777453588">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                    <label>Staff ID</label>
                                    <input class="form-control inputD" type="text" name="name" placeholder="Staff ID" value="10997214538" disabled>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                    <label>Role</label>
                                    <input class="form-control" type="text" name="username" placeholder="role" value="Cashier" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-12 col-sm-6 mb-3">
                            <div class="mb-2"><b>Change Password</b></div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                    <label>Current Password</label>
                                    <input class="form-control" type="password" placeholder="••••••">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                    <label>New Password</label>
                                    <input class="form-control" type="password" placeholder="••••••">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                    <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                                    <input class="form-control" type="password" placeholder="••••••"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                            
                        </div>
                        </div>
                        <div class="row">
                        <div class="col d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit">Save Changes</button>
                        </div>
                        <div class="px-xl-3">
                            <button class="btn btn-block btn-secondary">
                                <i class="fa fa-sign-out"></i>
                                <span>Logout</span>
                            </button>
                        </div>
                        </div>
                    </form>

                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>

        <div class="col-12 col-md-3 mb-3">
        </div>
        </div>

    </div>
    </div>
    </div>
    
        <footer>
        <%- include('../partials/footers/custmoer_footer'); %>
    </footer>
</body>
</html>