

 <% if(usertype == "customer" ){ %>

    <% if( activepage== "Home"){ 
        var nav = [ 
        { page: 'Home', path: "/customer/home",status : "active" },
        { page: 'Service order details', path: "/customer/getmyso",status : "deactive" },
        { page: 'Create Ticket', path: "/customer/createTicket",status : "deactive" },
        { page: 'Tickets Details', path: "/customer/ticketDetails",status : "deactive" },
        { page: 'Profile', path: "",status : "deactive" }]    
    } %>

    <% if( activepage== "Service order details"){ 
        var nav = [ 
        { page: 'Home', path: "/customer/home",status : "deactive" },
        { page: 'Service order details', path: "/customer/getmyso",status : "active" },
        { page: 'Create Ticket', path: "/customer/createTicket",status : "deactive" },
        { page: 'Tickets Details', path: "/customer/ticketDetails",status : "deactive" },
        { page: 'Profile', path: "",status : "deactive" }]    
    } %>

    <% if( activepage== "Create Ticket"){
        var nav = [ 
        { page: 'Home', path: "/customer/home",status : "deactive" },
        { page: 'Service order details', path: "/customer/getmyso",status : "deactive" },
        { page: 'Create Ticket', path: "/customer/createTicket",status : "active" },
        { page: 'Tickets Details', path: "/customer/ticketDetails",status : "deactive" },
        { page: 'Profile', path: "",status : "deactive" }]    
    } %>

    <% if( activepage== "Ticket details"){
        var nav = [
            { page: 'Home', path: "/customer/home",status : "deactive" },
            { page: 'Service order details', path: "/customer/getmyso",status : "deactive" },
            { page: 'Create Ticket', path: "/customer/createTicket",status : "deactive" },
            { page: 'Tickets Details', path: "/customer/ticketDetails",status : "active" },
            { page: 'Profile', path: "",status : "deactive" }]
    } %>

    <% if( activepage== "Profile"){ 
        var nav = [ 
        { page: 'Home', path: "/customer/home",status : "deactive" },
        { page: 'Service order details', path: "/customer/getmyso",status : "deactive" },
        { page: 'Create Ticket', path: "/customer/createTicket",status : "deactive" },

        { page: 'Tickets Details', path: "/customer/ticketDetails",status : "deactive" },
        { page: 'Profile', path: "",status : "active" },  
        { page: 'Profile', path: "/customer/profile",status : "active" }]    

    } %>

 

  <% } else{ %>  

        
        <% if( usertype == "admin"){ %>

            <% if( activepage== "Home"){
                var nav = [
                { page: 'Home', path: "/admin/home" ,status : "active" },
                { page: 'Add Employee', path:"/admin/addStaff" ,status : "deactive" },
                { page: 'Profile', path: "/admin/profile",status : "deactive" }]  
            } %>
    
            <% if( activepage== "Invoice Payment"){
                var nav = [
                { page: 'Home', path: "/admin/home",status : "deactive" },
                { page: 'Add Employee', path:"/admin/addStaff",status : "active" } , 
                { page: 'Profile', path:  "/admin/profile",status : "deactive" }]  
            } %>
    
            <% if( activepage== "Profile"){
                var nav = [
                { page: 'Home', path: "/admin/home",status : "deactive" },
                { page: 'Add Employee', path:"/admin/addStaff",status : "deactive" } , 
                { page: 'Profile', path:  "/admin/profile",status : "active" }]  
            } %>
            
           
        <%  } %>


        <% if( usertype == "cashier"){ %>
        
            <% if( activepage== "Home"){
                var nav = [
                { page: 'Home', path: "/cashier/home",status : "active" },
                { page: 'Invoice Payment', path: "/cashier/invoice",status : "deactive" } , 
                { page: 'Profile', path: "/cashier/profile", status : "deactive" }]  
            } %>

            <% if( activepage== "Invoice Payment"){
                var nav = [
                { page: 'Home', path: "/cashier/home",status : "deactive" },
                { page: 'Invoice Payment', path: "/cashier/invoice",status : "active" } , 
                { page: 'Profile', path: "/cashier/profile", status : "deactive" }]   
            } %>

            <% if( activepage== "Profile"){
                
                var nav = [
                { page: 'Home', path: "/cashier/home",status : "deactive" },
                { page: 'Invoice Payment', path: "/cashier/invoice",status : "deactive" } , 
                { page: 'Profile', path: "/cashier/profile", status : "active" }]  
            } %>
           
        <%  } %>
   

        <% if( usertype == "receptionist"){ %>

            <% if( activepage== "Home"){
                var nav = [
                { page: 'Home', path: "/receptionist/home" ,status : "active" },

                { page: 'Ticket details', path: "/receptionist/ticket/todayTicket" ,status : "deactive" },

                { page: 'Initiate Service Order', path: "/receptionist/initiate" ,status : "deactive" },
                { page: 'Continue Service Order', path: "/receptionist/sorder/failed" ,status : "deactive" },
                { page: 'Daily Log', path: "/receptionist/sorder/gettodayso" ,status : "deactive" },
                { page: 'Search', path: "/receptionist/sorder/search" ,status : "deactive" },
                { page: 'Profile', path: "/receptionist/profile" ,status : "deactive" }]  

            } %>

            <% if( activepage== "Ticket details"){
                var nav = [
                { page: 'Home', path: "/receptionist/home" ,status : "deactive" },

                { page: 'Ticket details', path: "/receptionist/ticket/todayTicket" ,status : "active" },

                { page: 'Initiate Service Order', path: "/receptionist/initiate" ,status : "deactive" },
                { page: 'Continue Service Order', path: "/receptionist/sorder/failed" ,status : "deactive" },
                { page: 'Daily Log', path: "/receptionist/sorder/gettodayso" ,status : "deactive" },
                { page: 'Search', path: "/receptionist/sorder/search" ,status : "deactive" },
                { page: 'Profile', path: "/receptionist/profile" ,status : "deactive" }]   
            } %>

            <% if( activepage== "Initiate Service Order"){
                var nav = [
                { page: 'Home', path: "/receptionist/home" ,status : "deactive" },
                { page: 'Ticket details', path: "/receptionist/ticket/todayTicket" ,status : "deactive" },
                { page: 'Initiate Service Order', path: "/receptionist/initiate" ,status : "active" },
                { page: 'Continue Service Order', path: "/receptionist/sorder/failed" ,status : "deactive" },
                { page: 'Daily Log', path: "/receptionist/sorder/gettodayso" ,status : "deactive" },
                { page: 'Search', path: "/receptionist/sorder/search" ,status : "deactive" },
                { page: 'Profile', path: "/receptionist/profile" ,status : "deactive" }]   
            } %>

            <% if( activepage== "Continue Service Order"){
                var nav = [
                { page: 'Home', path: "/receptionist/home" ,status : "deactive" },
                { page: 'Ticket details', path: "/receptionist/ticket/todayTicket" ,status : "deactive" },

                { page: 'Initiate Service Order', path: "/receptionist/initiate" ,status : "deactive" },
                { page: 'Continue Service Order', path: "/receptionist/sorder/failed" ,status : "active" },
                { page: 'Daily Log', path: "/receptionist/sorder/gettodayso" ,status : "deactive" },
                { page: 'Search', path: "/receptionist/sorder/search" ,status : "deactive" },
                { page: 'Profile', path: "/receptionist/profile" ,status : "deactive" }]   
            } %>

            <% if( activepage== "Daily Log"){
                var nav = [
                { page: 'Home', path: "/receptionist/home" ,status : "deactive" },
                { page: 'Ticket details', path: "/receptionist/ticket/todayTicket" ,status : "deactive" },
                { page: 'Initiate Service Order', path: "/receptionist/initiate" ,status : "deactive" },
                { page: 'Continue Service Order', path: "/receptionist/sorder/failed" ,status : "deactive" },
                { page: 'Daily Log', path: "/receptionist/sorder/gettodayso" ,status : "active" },
                { page: 'Search', path: "/receptionist/sorder/search" ,status : "deactive" },
                { page: 'Profile', path: "/receptionist/profile" ,status : "deactive" }]   
            } %>

            <% if( activepage== "Search"){
                var nav = [
                { page: 'Home', path: "/receptionist/home" ,status : "deactive" },
                { page: 'Ticket details', path:"/receptionist/ticket/todayTicket" ,status : "deactive" },
                { page: 'Initiate Service Order', path: "/receptionist/initiate" ,status : "deactive" },
                { page: 'Continue Service Order', path: "/receptionist/sorder/failed" ,status : "deactive" },
                { page: 'Daily Log', path: "/receptionist/sorder/gettodayso" ,status : "deactive" },
                { page: 'Search', path: "/receptionist/sorder/search" ,status : "active" },
                { page: 'Profile', path: "/receptionist/profile" ,status : "deactive" }]   

            } %>

            <% if( activepage== "Profile"){
                var nav = [
                { page: 'Home', path: "/receptionist/home" ,status : "deactive" },

                { page: 'Ticket details', path: "/receptionist/ticket/todayTicket" ,status : "deactive" },
                { page: 'Initiate Service Order', path: "/receptionist/initiate" ,status : "deactive" },
                { page: 'Continue Service Order', path: "/receptionist/sorder/failed" ,status : "deactive" },
                { page: 'Daily Log', path: "/receptionist/sorder/gettodayso" ,status : "deactive" },
                { page: 'Search', path: "/receptionist/sorder/search" ,status : "deactive" },
                { page: 'Profile', path: "/receptionist/profile" ,status : "active" }]   

            } %>
      
        <%  } %>

        
        <% if(usertype == "reportissuer"){ %>

            <% if( activepage== "Home"){
                var nav = [
                { page: 'Home', path: "/reportissuer/home" ,status : "active" },
                { page: 'Issue Report', path: "/reportissuer/report" ,status : "deactive" }, 
                { page: 'Profile', path: "/reportissuer/profile" ,status : "deactive" }]  
            } %>

            <% if( activepage== "Issue Report"){
                var nav = [
                { page: 'Home', path: "/reportissuer/home" ,status : "deactive" },
                { page: 'Issue Report', path: "/reportissuer/report" ,status : "active" }, 
                { page: 'Profile', path: "/reportissuer/profile" ,status : "deactive" }]   
            } %>

            <% if( activepage== "Profile"){
                var nav = [
                { page: 'Home', path: "/reportissuer/home" ,status : "deactive" },
                { page: 'Issue Report', path: "/reportissuer/report" ,status : "deactive" }, 
                { page: 'Profile', path: "/reportissuer/profile" ,status : "active" }]   
            } %>
      
        <%  } %>

        <% if(usertype == "guest"){ %>

            <% if( activepage== "Home"){
                var nav = [
                { page: 'Home', path: "/home" ,status : "active" }]  
            } %>
      
        <%  } %>

    
 <% } %>



<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="" >
            <img src="/images/logo.png" alt="logo" />SL Emission Testing 
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <hr class="solid">

            <ul class="navbar-nav ms-auto">
               
                <% nav.forEach(function(nav) { %>
                        <li class="nav-item">
                            <a class="nav-link " id="<%=nav.status%>" href="<%=nav.path%>"><%=nav.page%></a>
                        </li>              
                                
                        <% }); %>
              
            </ul>
            <% if (usertype==='guest') {%> 
                <a type="button" class="btn btn-success btn-large " id="signin" href="/auth/login" >Login</a>
            <% }else{ %> 
                <a type="button" class="btn btn-success btn-large " id="signout" href="/auth/logout" >Log out</a>
            <% } %> 
            <hr class="solid">
        </div>
    </div>
</nav>

<script>

document.getElementById("signout").onclick = function () {
    location.href = "";
};
</script>



