

 <% if(usertype == "customer" ){ %>

    <% if( activepage== "Home"){ 
        var nav = [ 
        { page: 'Home', path: "/customer/home",status : "active" },
        { page: 'Service order details', path: "",status : "deactive" },
        { page: 'Create Ticket', path: "/customer/createTicket",status : "deactive" },
        { page: 'Tickets Details', path: "",status : "deactive" },
        { page: 'Profile', path: "",status : "deactive" }]    
    } %>

    <% if( activepage== "Service order details"){ 
        var nav = [ 
        { page: 'Home', path: "/customer/home",status : "deactive" },
        { page: 'Service order details', path: "",status : "active" },
        { page: 'Create Ticket', path: "/customer/createTicket",status : "deactive" },
        { page: 'Tickets Details', path: "",status : "deactive" },
        { page: 'Profile', path: "",status : "deactive" }]    
    } %>

    <% if( activepage== "Create Ticket"){
        var nav = [ 
        { page: 'Home', path: "/customer/home",status : "deactive" },
        { page: 'Service order details', path: "",status : "deactive" },
        { page: 'Create Ticket', path: "/customer/createTicket",status : "active" },
        { page: 'Tickets Details', path: "",status : "deactive" },
        { page: 'Profile', path: "",status : "deactive" }]    
    } %>

    <% if( activepage== "Ticket details"){
        var nav = [
            { page: 'Home', path: "/customer/home",status : "deactive" },
            { page: 'Service order details', path: "",status : "deactive" },
            { page: 'Create Ticket', path: "/customer/createTicket",status : "deactive" },
            { page: 'Tickets Details', path: "",status : "active" },
            { page: 'Profile', path: "",status : "deactive" }]
    } %>

    <% if( activepage== "Profile"){ 
        var nav = [ 
        { page: 'Home', path: "/customer/home",status : "deactive" },
        { page: 'Service order details', path: "",status : "deactive" },
        { page: 'Create Ticket', path: "/customer/createTicket",status : "deactive" },
        { page: 'Tickets Details', path: "",status : "deactive" },
        { page: 'Profile', path: "",status : "active" }]    
    } %>

 

  <% } else{ %>  

        
        <% if( usertype == "admin"){ %>

            <% if( activepage== "Home"){
                var nav = [
                { page: 'Home', path: "admin_home_page" ,status : "active" },
                { page: 'Add employee', path:"Add_employee" ,status : "deactive" },
                { page: 'Profile', path: "",status : "deactive" }]  
            } %>
    
            <% if( activepage== "Invoice Payment"){
                var nav = [
                { page: 'Home', path: "cashier/home",status : "deactive" },
                { page: 'Invoice Payment', path: "",status : "active" } , 
                { page: 'Profile', path: "",status : "deactive" }]  
            } %>
    
            <% if( activepage== "Profile"){
                var nav = [
                { page: 'Home', path: "cashier/home",status : "deactive" },
                { page: 'Invoice Payment', path: "",status : "deactive" } , 
                { page: 'Profile', path: "",status : "active" }]  
            } %>
            
           
        <%  } %>


        <% if( usertype == "cashier"){ %>
        
            <% if( activepage== "Home"){
                var nav = [
                { page: 'Home', path: "cashier/home",status : "active" },
                { page: 'Invoice Payment', path: "",status : "deactive" } , 
                { page: 'Profile', path: "",status : "deactive" }]  
            } %>

            <% if( activepage== "Invoice Payment"){
                var nav = [
                { page: 'Home', path: "cashier/home",status : "deactive" },
                { page: 'Invoice Payment', path: "",status : "active" } , 
                { page: 'Profile', path: "",status : "deactive" }]  
            } %>

            <% if( activepage== "Profile"){
                var nav = [
                { page: 'Home', path: "cashier/home",status : "deactive" },
                { page: 'Invoice Payment', path: "",status : "deactive" } , 
                { page: 'Profile', path: "",status : "active" }]  
            } %>
           
        <%  } %>
   

        <% if( usertype == "receptionist"){ %>

            <% if( activepage== "Home"){
                var nav = [
                { page: 'Home', path: "receptionist/home" ,status : "active" },
                { page: 'Ticket details', path: "" ,status : "deactive" },
                { page: 'Initiate service order', path: "" ,status : "deactive" },
                { page: 'Profile', path: "" ,status : "deactive" }]  
            } %>

            <% if( activepage== "Ticket details"){
                var nav = [
                { page: 'Home', path: "receptionist/home" ,status : "active" },
                { page: 'Ticket details', path: "" ,status : "deactive" },
                { page: 'Initiate service order', path: "" ,status : "deactive" },
                { page: 'Profile', path: "" ,status : "deactive" }]   
            } %>

            <% if( activepage== "Initiate service order"){
                var nav = [
                { page: 'Home', path: "receptionist/home" ,status : "active" },
                { page: 'Ticket details', path: "" ,status : "deactive" },
                { page: 'Initiate service order', path: "" ,status : "deactive" },
                { page: 'Profile', path: "" ,status : "deactive" }]   
            } %>

            <% if( activepage== "Profile"){
                var nav = [
                { page: 'Home', path: "receptionist/home" ,status : "deactive" },
                { page: 'Ticket details', path: "" ,status : "deactive" },
                { page: 'Initiate service order', path: "" ,status : "deactive" },
                { page: 'Profile', path: "" ,status : "active" }]   
            } %>
      
        <%  } %>

        
        <% if(usertype == "reportissuer"){ %>

            <% if( activepage== "Home"){
                var nav = [
                { page: 'Home', path: "reportissuer/home" ,status : "active" },
                { page: 'Issue Report', path: "" ,status : "deactive" }, 
                { page: 'Profile', path: "" ,status : "deactive" }]  
            } %>

            <% if( activepage== "Issue Report"){
                var nav = [
                { page: 'Home', path: "reportissuer/home" ,status : "deactive" },
                { page: 'Issue Report', path: "" ,status : "active" }, 
                { page: 'Profile', path: "" ,status : "deactive" }]   
            } %>

            <% if( activepage== "Profile"){
                var nav = [
                { page: 'Home', path: "reportissuer/home" ,status : "deactive" },
                { page: 'Issue Report', path: "" ,status : "deactive" }, 
                { page: 'Profile', path: "" ,status : "active" }]   
            } %>
      
        <%  } %>

        <% if(usertype == "guest"){ %>

            <% if( activepage== "Home"){
                var nav = [
                { page: 'Home', path: "/home" ,status : "active" },
                { page: 'Time Slots', path: "" ,status : "deactive" }]  
            } %>

            <% if( activepage== "Time Slots"){
                var nav = [
                { page: 'Home', path: "/home" ,status : "deactive" },
                { page: 'Time Slots', path: "" ,status : "active" }]   
            } %>
      
        <%  } %>

    
 <% } %>



<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="" >
            <img src="/images/logo.png" alt="logo" />SL Emission Testing 
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <hr class="solid">

            <ul class="navbar-nav ms-auto">
               
                <% nav.forEach(function(nav) { %>
                    <li>
                        <li class="nav-item">
                            <a class="nav-link " id="<%=nav.status%>" href="<%=nav.path%>"><%=nav.page%></a>
                        </li>              
                                       
                        <% }); %>
              
            </ul>
            <% if (usertype==='guest') {%> 
                <a type="button" class="btn btn-success btn-large " id="signin" href="/auth/login" >Login</a>
            <% }else{ %> 
                <a type="button" class="btn btn-success btn-large " id="signout" href="/auth/logout" >Log out</a>
            <% } %> 
            <hr class="solid">
        </div>
    </div>
</nav>

<script>

document.getElementById("signout").onclick = function () {
    location.href = "";
};
</script>



