<!DOCTYPE html>
<html>
<head>
	<title>Add Employee</title>
	<link rel="stylesheet" type="text/css" href="../../../public/css/register.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="../../../public/images/wavenew.png">
	<div class="container">
                
		<div class="img">
			<img src="../../../public/images/reg.svg">
		</div>
		<div class="login-content">
        
			<form action="/admin/addStaff" method="POST" >
				<img src="../../../public/images/logo.png">
                <h2 class="title"></h2>
                
                <div class="input-div one">
                    <div class="i">
                            <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                            <h5>USER ID</h5>
                            <input name="user_id" type="text" class="input">
                    </div>
              </div>
              
              <div class="input-div one">
                <div class="i">
                        <i class="fas fa-user"></i>
                </div>
                <div class="div">
                        <h5>Employee ID</h5>
                        <input name="employee_id" type="text" class="input">
                </div>
          </div>

           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>First Name</h5>
           		   		<input name="first_name" type="text" class="input">
           		   </div>
                </div>

                <div class="input-div one">
                    <div class="i">
                            <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                            <h5>Last Name</h5>
                            <input name="last_name" type="text" class="input">
                    </div>
              </div>

              <div class="input-div one">
                <div class="i">
                        <i class="fas fa-user"></i>
                </div>
                <div class="div">
                        <h5>NIC</h5>
                        <input name="NIC"  type="text" class="input">
                </div>
             </div>

                 <div class="input-div one">
                    <div class="i">
                            <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                            <h5>Email</h5>
                            <input name="email" type="text" class="input">
                    </div>
                 </div>   

                 <div class="input-div one">
                    <div class="i">
                            <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                            <h5>Role</h5>
                            <input name="role" type="text" class="input">
                    </div>
              </div>

              <div class="input-div one">
                <div class="i">
                        <i class="fas fa-user"></i>
                </div>
                <div class="div">
                        <h5>Branch ID</h5>
                        <input name="branch_id" type="text" class="input">
                </div>
          </div>

           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input name="password" type="password" class="input">
            	   </div>
                </div>
                <button type = "submit" class="btn" id="cstbtn">ADD</button>
                
                <!-- <input id = "cstbtn" type="submit" class="btn" value="Register" />
                <input id = "stfbtn" type="submit" class="btn" value="Register as staff" />   -->
				
            </form>
        </div>
    </div>
    <script type="text/javascript" src="../../../public/scripts/register.js"></script>
</body>
</html>
